#MyPane{
    -fx-background-image: url('Gradient1.jpg');
}

#reservationButton {
    -fx-background-color: linear-gradient(rgba(154,0,255,0.5), rgba(0,189,255,0.5));
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: white;
    }
    #reservationButton:hover {
        -fx-background-color: linear-gradient(rgba(154,0,255,0.6) 20%, rgba(0,189,255,0.6));
        }
    #reservationButton:pressed {
        -fx-background-color: linear-gradient(rgba(154,0,255,0.8) 100%, rgba(0,189,255,0.8));
    }

#cancelButton {
    -fx-background-color: linear-gradient(rgba(154,0,255,0.5), rgba(0,189,255,0.5));
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: white;
    }
    #cancelButton:hover {
        -fx-background-color: linear-gradient(rgba(154,0,255,0.6) 20%, rgba(0,189,255,0.6));
        }
    #cancelButton:pressed {
        -fx-background-color: linear-gradient(rgba(154,0,255,0.8) 100%, rgba(0,189,255,0.8));
    }




.list-cell {
        //-fx-background-color: rgba(255, 178, 233, 0.4);
        -fx-background-color: rgba(232,198,255,0.5);

        -fx-background-radius: 10;
}
.list-view {
    -fx-background-color: transparent;
    -fx-background-radius: 10;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: linear-gradient(#328BDB 0%, #207BCF 25%, #1973C9 75%, #0A65BF 100%);
    -fx-text-fill: white;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: linear-gradient(#328BDB 0%, #207BCF 25%, #1973C9 75%, #0A65BF 100%);
    -fx-text-fill: white;
}

.list-cell:even { /* <=== changed to even */
        //-fx-background-color: rgba(255, 224, 246, 0.65);
        //-fx-background-color: rgba(199,240,255,0.5);
        -fx-background-color: rgba(237,250,255,0.5);
}

.list-cell:filled:hover {
    -fx-background-color: #7ACCFF;
    -fx-text-fill: white;
}

.list-cell:filled:hover {
    -fx-background-color: #7ACCFF;
    -fx-text-fill: white;
}